
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}


.blackButton{
  background-color: black;
  color: white;
}

.whiteButton{
  background-color: white;
  color: black;
}

.main {
  padding: 2em 0em 2em;
    -moz-box-flex: 1;
    flex: 1 1;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
}

.ctrl {
  padding: 1em;
  background-color: #fff;
}

.avi {
  padding: 3em;
}
.btn {
  position: absolute;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid rgb(121 212 121 / 80%);
    background: rgb(170 255 170 / 80%);
    color: rgb(255 255 255);
    font-weight: bold;
}
/* 
.vid {
  background-image: url(https://res.cloudinary.com/louiy9obu/image/upload/v1630689678/1_oywioc.png);
  background-position: center;
} */

.footer {
  width: 100%;
  padding: 0em 0em 3em;
  display: -moz-box;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  color: #d787ff4d;
}

.footer img {
  margin-left: 0.5rem;
  width: 5%;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.titleDiv {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  padding: 0.5em;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  padding: 1em 0em 2em;
  font-size: 1.3rem;
  font-weight: bold;
}

.songTitle {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  line-height: 1.2em;
  margin: 1em 3em;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 0rem;
}

.grid div {
  margin: 2em;
  padding: 2em;
}


.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
