.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  button{
    width: 80px;
    height: 40px;
    margin: 15px;
  }
  .blackButton{
    background-color: black;
    color: white;
  }
  
  .whiteButton{
    background-color: white;
    color: black;
    line-height: 4.5;
    font-size: 1.3rem;
    font-weight: bold;
  }